#snakeCanvas {
    border: 5px solid black;
    margin: 0 auto;
    display: block;
}

#additionalInfo {
    position: absolute;
    top: 50%;
}

.outer{
    width:100%;
    text-align: left;
    padding-bottom: 10px;
    
}
.inner{
    display: inline-block;
    padding: 2px;
}
